<div class="bg-primary-emphasis rounded-3 p-3 shadow d-flex flex-column"
     style="height: calc(100vh - 120px);">
    <div class="d-flex justify-content-between align-items-center pb-2">
        <h2 class="text-primary-subtle text-truncate">{{state}}</h2>
        <button class="btn btn-secondary" style="width: 40px; height: 40px" data-bs-toggle="modal" data-bs-target="#taskFormModal" (click)="addTask()">
            +
        </button>
    </div>
    <div
        cdkDropList
        [cdkDropListData]="tasks"
        class="flex-grow-1 overflow-auto"
        (cdkDropListDropped)="drop($event)">
        @for(task of tasks; track task.id){
            <div cdkDrag
                 class="border rounded-3 p-2 mb-2 bg-secondary-subtle">
                <h3 class="text-secondary-emphasis">{{task.title}}</h3>
                <p class="text-dark">{{task.description}}</p>
            </div>
        }
    </div>
</div>