<div class=".container m-4 d-flex flex-sm-row flex-column">
    <div cdkDropListGroup>
        @for (_state of states; track _state) {
            <app-column [state]="_state"
                        [tasks]="getTasksByState(_state)"
                        (showFormEvent)="showForm($event)"
                        (updateTaskStateEvent)="updateTaskState($event)"
                        class="col border"></app-column>
        }
    </div>
</div>
<app-task-form #taskFormApp
                [states]="states"
                (submitEvent)="submitTask($event)"></app-task-form>
