<div cdkDropListGroup
     class=".container m-4 d-flex flex-sm-row flex-column">
    @for (_state of states; track _state) {
        <app-column [state]="_state"
                    [tasks]="getTasksByState(_state)"
                    (showFormEvent)="showForm($event)"
                    (updateTaskStateOnMoveEvent)="updateTaskStateOnMove($event)"
                    (updateTaskOrderEvent)="updateTaskOrder($event)"></app-column>
    }
</div>
<app-task-form #taskFormApp
                [states]="states"
                (submitEvent)="submitTask($event)"></app-task-form>
